body{
    background-color: #d3f4fb;
    
}

body main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
    
}



@media screen and (max-width: 570px) {
    
    .topnav {
      display: flex;
      align-items: unset;
      flex-direction: column;
      align-items: initial;
      position: static;
    
    
    }

    .dropdown {
        display: flex;
        align-items: unset;
        flex-direction: column;
        align-items: initial;
        position: static;
        
        
            
    }
    
      
    
    .topnav img{
        
        
        width: 45%;
        
    }
}